@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
// variables
$color-mainLightHeadline: #ffffff;
$color-mediumDarkHeadline: #222626;
$color-smallLightHeadlineGallery: #ffffff;
$color-paragraphGallery: #ffffff;
$color-darkParagraph: #959595;
$color-littleHeadline: #67676d;
$color-footerElements: #f6f7fa;
$mainFont: "Open Sans";
//      mixins
@mixin paragraph($fontSize,
$color) {
    color: $color;
    font-family: $mainFont;
    font-size: $fontSize;
    font-weight: 400;
    line-height: 24px;
}

@mixin headline($fontSize, $color) {
    color: $color;
    font-family: $mainFont;
    font-size: $fontSize;
    font-weight: 300;
}

* {
    box-sizing: border-box;
    font-family: $mainFont;
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* --------------- GRID ---------------*/

//clearfix
.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

//for mobile
[class*="col-"] {
    width: 100%;
    padding: 12px;
    float: left;
}

//for mobile
[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 12px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

//offsets
.col-offset-0 {
    margin-left: 0;
}

.col-offset-1 {
    margin-left: 8.33%;
}

.col-offset-2 {
    margin-left: 16.66%;
}

.col-offset-3 {
    margin-left: 25%;
}

.col-offset-4 {
    margin-left: 33.33%;
}

.col-offset-5 {
    margin-left: 41.66%;
}

.col-offset-6 {
    margin-left: 50%;
}

.col-offset-7 {
    margin-left: 58.33%;
}

.col-offset-8 {
    margin-left: 66.66%;
}

.col-offset-9 {
    margin-left: 75%;
}

.col-offset-10 {
    margin-left: 83.33%;
}

.col-offset-11 {
    margin-left: 91.66%;
}

/* -------------- PAGE ----------------- */

//  header-------------------------------------------------
header {
    height: 90vh;
    background-image: url("../images/header-background.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    nav {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
    }
    .header-headline {
        h1 {
            color: $color-mainLightHeadline;
            font-size: 60px;
            font-weight: 300;
            margin: 0;
        }
        p {
            @include paragraph(13px,
            #ffffff);
        }
    }
    .side-inscription {
        position: absolute;
        transform: rotate(-90deg);
        left: 1%;
        color: #ffffff;
        .font-light {
            font-size: 12px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 0.3px;
            font-family: "Open Sans", sans-serif;
        }
        .font-semi-bold {
            font-family: "Open Sans", sans-serif;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.3px;
        }
    }
}

//something new ------------------------------------
#startNew {
    padding: 140px 0;
    h2 {
        margin: 0;
        @include headline(35px, $color-mediumDarkHeadline);
    }
    p {
        margin: 0;
        @include paragraph(14px, $color-darkParagraph);
    }
}