@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
// variables
$color-mainLightHeadline: #ffffff;
$color-mediumDarkHeadline: #222626;
$color-smallLightHeadlineGallery: #ffffff;
$color-paragraphGallery: #ffffff;
$color-darkParagraph: #959595;
$color-littleHeadline: #67676d;
$color-footerElements: #f6f7fa;
$color-offerHeadlines: #2e3b4e;
$color-offerParagraph: #8297a7;
$color-offerSection: #f6f7fa;
$mainFont: "Open Sans";
//      mixins
@mixin paragraph($fontSize,
$color) {
    color: $color;
    font-family: $mainFont;
    font-size: $fontSize;
    font-weight: 400;
    line-height: 24px;
}

@mixin headline($fontSize,
$color) {
    color: $color;
    font-family: $mainFont;
    font-size: $fontSize;
    font-weight: 300;
}

* {
    box-sizing: border-box;
    font-family: $mainFont;
}

body {
    margin: 0;
}

.position-relative {
    position: relative;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
}

.flex-container {
    display: flex;
}

/* --------------- GRID ---------------*/

//clearfix
.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 12px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

//offsets
.col-offset-0 {
    margin-left: 0;
}

.col-offset-1 {
    margin-left: 8.33%;
}

.col-offset-2 {
    margin-left: 16.66%;
}

.col-offset-3 {
    margin-left: 25%;
}

.col-offset-4 {
    margin-left: 33.33%;
}

.col-offset-5 {
    margin-left: 41.66%;
}

.col-offset-6 {
    margin-left: 50%;
}

.col-offset-7 {
    margin-left: 58.33%;
}

.col-offset-8 {
    margin-left: 66.66%;
}

.col-offset-9 {
    margin-left: 75%;
}

.col-offset-10 {
    margin-left: 83.33%;
}

.col-offset-11 {
    margin-left: 91.66%;
}

/* -------------- PAGE ----------------- */

//  header-------------------------------------------------
header {
    height: 90vh;
    background-image: url("../images/header-background.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    background-position: center;
    .iPhone {
        position: absolute;
        bottom: -500px;
        right: 71px;
        height: 85vh;
    }
    nav {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
    }
    .header-headline {
        h1 {
            color: $color-mainLightHeadline;
            font-size: 60px;
            font-weight: 300;
            margin: 0;
        }
        p {
            @include paragraph(13px,
            #ffffff);
        }
    }
    .side-inscription {
        position: absolute;
        transform: rotate(-90deg);
        left: -40px;
        color: #ffffff;
        bottom: 50%;
        .font-light {
            font-size: 12px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 0.3px;
            font-family: "Open Sans", sans-serif;
        }
        .font-semi-bold {
            font-family: "Open Sans - Semibold", sans-serif;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.3px;
        }
    }
}

//inscriptions -----------------------------------
.dark-inscription {
    position: absolute;
    color: #b8b8b8;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    top: 30%;
    left: 0;
    transform: rotate(-90deg);
}

//something new ------------------------------------
#startNew {
    padding: 60px 0;
    h2 {
        margin: 0;
        @include headline(35px,
        $color-mediumDarkHeadline);
    }
    p {
        margin: 0;
        @include paragraph(14px,
        $color-darkParagraph);
    }
}

//gallery -------------------------------------------
#gallery {
    .gallery-links {
        color: #ffffff;
        font-family: $mainFont;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        cursor: pointer;
        z-index: 1;
        text-decoration: none;
    }
    h3 {
        @include headline(30px,
        $color-smallLightHeadlineGallery);
        margin: 0;
        position: relative;
        z-index: 1;
    }
    p {
        @include paragraph(13px,
        $color-paragraphGallery);
        position: relative;
        z-index: 1;
    }
    img {
        position: relative;
        width: 18px;
        height: 18px;
        path {
            fill: #ffffff;
        }
    }
    .heart-img-positioning {
        display: flex;
        justify-content: space-between;
    }
    [class*="cell"] {
        padding: 30px;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 270px;
    }
    .cell-1 {
        background-color: #f5989d;
        width: 20%;
    }
    .cell-2 {
        background-color: #615f7d;
        width: 20%;
    }
    .cell-3 {
        background-image: url("../images/our-clients.jpg");
        background-size: cover;
        background-position: center;
        width: 20%;
        position: relative;
    }
    .cell-4 {
        background-color: #bd8cbf;
        width: 40%;
    }
    .cell-5 {
        background-image: url("../images/sign-up.jpg");
        background-size: cover;
        background-position: center;
        width: 40%;
        position: relative;
    }
    .cell-6 {
        background-color: #82ca9c;
        width: 20%;
    }
    .cell-7 {
        background-image: url("../images/start-something.jpg");
        background-size: cover;
        background-position: center;
        width: 40%;
        position: relative;
    }
    .gallery-layer {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }
}

//a look at the detalis
#look-at-details {
    padding: 50px 0 80px 0;
    h2 {
        @include headline(35px,
        $color-mediumDarkHeadline);
    }
    h5 {
        @include headline(13px,
        $color-littleHeadline);
        font-weight: 600;
        margin: 0;
    }
    p {
        @include paragraph(14px,
        $color-darkParagraph);
    }
}

//more power
#more-power {
    background-image: url("../images/car_cockpit.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    padding: 100px 0;
    height: 80vh;
    h1 {
        @include headline(60px,
        $color-mainLightHeadline);
        font-weight: 300;
    }
    p {
        @include paragraph(13px,
        #ffffff);
    }
    a {
        color: #ffffff;
        font-family: $mainFont;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-decoration: none;
    }
}

//reasons to get
#reasons-to-get {
    background-color: #82ca9c;
    padding: 100px 0;
    h3 {
        @include headline(35px,
        #ffffff);
        margin: 0;
    }
    h5 {
        @include headline(13px,
        #ffffff);
        font-weight: 600;
    }
    p {
        @include paragraph(14px,
        #ffffff);
        font-weight: 300;
    }
}

//offer
#offer {
    background-color: $color-offerSection;
    padding: 100px 0;
    .extra-padding {
        padding: 40px;
    }
    .offer-cell {
        transition-duration: 1.0s;
        [class*="box-"] {
            background-color: #e1e1e1;
            border-radius: 5px;
            display: inline-block;
            padding: 5px 11px;
            font-weight: 700;
            color: $color-offerSection;
            text-transform: uppercase;
            font-size: 11px;
            transition-duration: 1.0s;
        }
        &:hover {
            background-color: #ffffff;
            box-shadow: 0 0 62px rgba(0, 0, 0, 0.05);
            [class*="box-"] {
                background-color: #bd8cbf;
                color: #ffffff;
            }
        }
    }
    h2 {
        @include headline(30px,
        $color-offerHeadlines);
    }
    p {
        @include paragraph(14px,
        $color-offerParagraph);
    }
    button {
        color: $color-offerSection;
        border-radius: 3px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: #82ca9c;
        padding: 15px 30px;
        border: none;
        margin-top: 10px;
        cursor: pointer;
        transition-duration: .5s;
        &:hover {
            transform: scale(1.1);
        }
    }
    .icon-container {
        margin-top: 15px;
        :nth-child(1) {
            margin-bottom: 3px;
            margin-right: 15px;
        }
    }
}

//footer
footer {
    background-color: #192431;
    padding: 120px 0;
    h5 {
        @include headline(13px,
        $color-footerElements);
        font-weight: 600;
    }
    p {
        @include paragraph(13px,
        $color-footerElements);
    }
    input {
        width: 400px;
        height: 58px;
        background-color: $color-footerElements;
        border: none;
        border-radius: 2px 0 0 2px;
        padding-left: 20px;
    }
    button {
        width: 70px;
        height: 58px;
        background-color: #82ca9c;
        border: none;
        border-radius: 0 2px 2px 0;
        cursor: pointer;
    }
    .annotation-form {
        @include paragraph(12px,
        #57697f);
        line-height: 18px;
    }
    ul {
        list-style-type: none;
        padding: 0;
        @include paragraph(13px,
        #f6f7fa);
    }
}

/*-------------------MEDIA QUERIES---------------------*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .row {
        flex-wrap: wrap;
    }
    [class*="col-"] {
        width: 100%;
        padding: 12px;
        float: left;
    } //  header-------------------------------------------------
    header {
        height: 100vh;
        .iPhone {
            bottom: -380px;
            right: 18px;
            height: 50vh;
        }
        .header-headline {
            text-align: center;
            p {
                br {
                    display: none;
                }
            }
        }
        .side-inscription {
            bottom: 20%;
        }
    } //inscripctions--------------------------------
    .dark-inscription {
        display: none;
    } //gallery---------------------------------------
    #gallery {
        [class*="cell"] {
            width: 100%;
            min-height: 200px;
        }
    } //a look at the detalis
    #look-at-details {
        padding: 30px 0;
    } //more power---------------------------------
    #more-power {
        height: auto;
        padding: 50px 0;
        br {
            display: none;
        }
    } //reasons to get---------------------------------
    #reasons-to-get {
        padding: 50px 0;
    } //offer
    #offer {
        padding: 50px 0;
    } // footer
    footer {
        padding: 50px 0;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .row {
        flex-wrap: wrap;
    }
    [class*="col-"] {
        width: 100%;
        padding: 12px;
        float: left;
    } //  header-------------------------------------------------
    header {
        height: 100vh;
        .iPhone {
            bottom: -380px;
            right: 50px;
            height: 55vh;
        }
        .side-inscription {
            bottom: 20%;
        }
    } //inscripctions--------------------------------
    .dark-inscription {
        display: none;
    } //gallery---------------------------------------
    #gallery {
        [class*="cell"] {
            width: 100%;
            min-height: 200px;
        }
    } //a look at the detalis
    #look-at-details {
        padding: 30px 0;
    } //more power---------------------------------
    #more-power {
        height: auto;
        padding: 50px 0;
        br {
            display: none;
        }
    } //reasons to get---------------------------------
    #reasons-to-get {
        padding: 50px 0;
    } //offer
    #offer {
        padding: 50px 0;
    } // footer
    footer {
        padding: 50px 0;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .row {
        flex-wrap: wrap;
    } //  header-------------------------------------------------
    header {
        height: 100vh;
        .iPhone {
            right: 50px;
            height: 75vh;
        }
        .side-inscription {
            bottom: 20%;
        }
    } //inscripctions--------------------------------
    .dark-inscription {
        display: none;
    } //gallery---------------------------------------
    #gallery {
        [class*="cell"] {
            width: 100%;
            min-height: 200px;
        }
    } //a look at the detalis
    #look-at-details {
        padding: 30px 0;
    } //more power---------------------------------
    #more-power {
        height: auto;
        padding: 50px 0;
    } //reasons to get---------------------------------
    #reasons-to-get {
        padding: 50px 0;
    } //offer
    #offer {
        padding: 50px 0;
    } // footer
    footer {
        padding: 50px 0;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
 //  header-------------------------------------------------
    header {
        height: 100vh;
        .iPhone {
            right: 50px;
            height: 75vh;
        }
        .side-inscription {
            bottom: 20%;
        }
    } //gallery---------------------------------------
    #gallery {
        [class*="cell"] {
            min-height: 200px;
        }
    } //a look at the detalis
    #look-at-details {
        padding: 30px 0;
    } //more power---------------------------------
    #more-power {
        padding: 50px 0;
    } //reasons to get---------------------------------
    #reasons-to-get {
        padding: 50px 0;
    } //offer
    #offer {
        padding: 50px 0;
    } // footer
    footer {
        padding: 50px 0;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}